<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/LogoEasyScrumfavicon.jpg">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" rel="stylesheet">
    <title>Easy Scrum</title>
</head>

<body class="bd-example">
    <header class="fixed-top w-100 z-5">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/static/images/LogoEasyScrum copiar.png"
                        id="foto-logo" alt="Logo Easy Scrum"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/quiz">Teste de Conhecimento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/quemsomos">Quem Somos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="pt-5">
        <section class="container my-4 p-3 shadow rounded border border-3 border-danger-subtle">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="/static/images/predio.a3883078.png "class="img-fluid rounded mb-4" alt="Prédio da Fatec">
                </div>
                <div class="col-12">
                    <h1 class="texto2">Fatec Prof. Jessen Vidal de São José dos Campos</h1>
                    <p class="texto">
                        A Fatec Prof. Jessen Vidal de São José dos Campos é uma instituição pública de ensino superior,
                        vinculada ao Centro Paula Souza, que oferece cursos gratuitos de tecnologia. Fundada em 2007, a Fatec
                        está localizada em uma das cidades mais inovadoras do Brasil, conhecida por sua relevância no setor
                        aeroespacial, tecnológico e industrial.
                    </p>
                    <h4>Características principais:</h4>
                    <p><strong>Cursos oferecidos:</strong> A Fatec São José dos Campos disponibiliza graduações tecnológicas
                        em áreas estratégicas, como:</p>
                    <ul>
                        <li>Análise e Desenvolvimento de Sistemas (ADS)</li>
                        <li>Gestão Empresarial</li>
                        <li>Manufatura Avançada</li>
                        <li>Sistemas Aeronáuticos</li>
                        <li>Projetos Mecânicos</li>
                    </ul>
                    <h3>Metodologia Scrum</h3>
                    <p>
                        Na Fatec São José dos Campos, o Scrum é usado como uma forma prática e dinâmica de organizar os
                        projetos de APIs, aproximando os alunos da realidade do mercado de trabalho. Em equipe, cada estudante
                        assume papéis importantes, como líder do time ou responsável por priorizar as demandas, e juntos
                        planejam suas tarefas em ciclos curtos, chamados de sprints. A cada etapa, apresentam o que foi feito,
                        recebem feedback e ajustam o que for necessário. Ferramentas como Trello ou GitHub ajudam a manter tudo
                        organizado. É uma experiência colaborativa que vai além da teoria, ensinando na prática como trabalhar
                        em grupo, resolver problemas e entregar resultados de qualidade.
                    </p>
                </div>
            </div>
        </section>
        <footer class="container-fluid bg-dark">
            <section class="row h-10">
                <div class="col-fluid text-center text-white pt-4 pb-4">
                    <span class="align-middle">Site criado pela equipe Echo | Todos os direitos reservados</span>
                </div>
            </section>
        </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-wh/UetQ1tAfU5NEjE8u0wF/+mPJxHM6pK1XaAen9sg3hkcMiJmfI9GppdftFtpE0"
        crossorigin="anonymous"></script>
</body>

</html>